/* desktop */
@media only screen and (min-width: 1025px) {
    .mobile,
    footer {
        display: none !important;
    }

    *:focus {
        outline: none;
    }
}

/* tablet */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .desktop {
        display: none !important;
    }

    *:focus {
        outline: none;
    }

    body {
        margin-bottom: 10%;
    }

    .boxFirst {
        display: flex;
        margin-top: 6vw;
        margin-bottom: 5vw;
        justify-content: center;
        font-size: 3vw;
        align-items: center;
        gap: 3vw;
    }

    .text-left,
    .text-right {
        background-color: #a9a9a9;
        border-radius: 2vw;
        color: #fff;
        width: 25vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw;
    }

    .buttonStatus {
        display: flex;
        margin: 6vw 2vw 5vw 2vw;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        gap: 3vw;
    }

    .buttonl.active {
        background-color: #ffda19;
        border-radius: 5vw;
        color: #0b6bc1;
        width: 22vw; /* ปรับตามความต้องการ */
        height: auto; /* ปรับตามความต้องการ */
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border: 0;
        padding: 1vw;
    }

    .buttonl:not(.active) {
        background-color: #0b6bc1;
        border-radius: 5vw;
        color: #fff;
        width: 22vw; /* ปรับตามความต้องการ */
        height: auto; /* ปรับตามความต้องการ */
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border: 0;
        padding: 1vw;
    }

    .table-container {
        margin: auto;
        width: 95% !important;
    }

    table {
        border-collapse: collapse;
        border-radius: 2vw;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;
    }

    th {
        background-color: #0b6bc1 !important; /* Green background color for headers */
        color: white !important;
        font-size: 3vw !important;
        border: 1px solid #c2c2c2 !important;
        text-align: center !important;
        width: 18vw !important;
        white-space: nowrap !important;
        padding: 0.5vw !important;
    }

    td {
        border: 1px solid #c2c2c2;
        text-align: center;
        height: 8vw;
        font-size: 3vw;
        /* white-space: nowrap; */
    }

    td:first-child,
    th:first-child {
        width: 30% !important;
    }

    td:nth-child(2),
    th:nth-child(2) {
        width: 30% !important;
    }

    td:last-child,
    th:last-child {
        width: 15% !important;
    }
    
    td input {
        color: #616061;
        border: none;
        text-align: center;
        font-weight: 700;
        font-size: 2.5vw;
    }

    td img {
        width: 6vw;
    }

    td button {
        border: 0;
    }

    td .approve-yes input {
        color: #95e302;
        font-weight: 600;
    }

    td .approve-yes input::placeholder {
        color: #95e302;
        font-weight: 600;
    }

    td .nameEm input {
        text-decoration: underline; /* เพิ่มเส้นใต้ */
        color: #0cbdc8; /* สีข้อความ */
        border: none; /* ลบเส้นขอบ */
        outline: none; /* ลบเส้นกรอบในกรณีที่มี */
        background-color: transparent; /* ลบพื้นหลัง */
    }

    td .nameEm input::placeholder {
        text-decoration: underline; /* เพิ่มเส้นใต้ */
        color: #0cbdc8; /* สีข้อความ */
        border: none; /* ลบเส้นขอบ */
        outline: none; /* ลบเส้นกรอบในกรณีที่มี */
        background-color: transparent; /* ลบพื้นหลัง */
    }

    table.dataTable td.dt-type-numeric{
        text-align: center !important;
    }

    .row {
        display: flex !important;
        text-align: center !important;
        align-items: center !important;
        font-size: 3vw;
    }
    .row input {
        width: 40vw !important;
        padding: 0vw !important;
        padding: 1.5vw !important;
    }

    .dataTables_length {
        display: none;
    }

    .col-sm-12 {
        width: 95vw !important;
        margin: auto;
        margin-top: -3vw !important;
    }

    ul.pagination {
        width: 70vw !important;
        margin: auto !important;
        margin-top: -2vw !important;
    }

    div.dt-container div.dt-info {
        width: 93vw !important;
    }

    .col-md-auto {
        width: 85vw !important;
    }

    .col-sm-12.col-md-6 {
        width: 20vw;
        font-size: 3vw !important;
        margin-bottom: 1vw;
        margin-top: -2vw !important;
    }

    .dataTables_filter {
        display: flex !important;
        justify-content: right !important;
        font-size: 3.5vw !important;
        margin-bottom: 3vw !important;
    }

    table.dataTable thead > tr > th.sorting {
        cursor: pointer;
        position: relative;
        padding-right: 0 !important;
    }

    .sorting::before,
    .sorting::after {
        display: none !important  ;
    }

    #example_previous {
        width: 20vw;
    }

    .page-link {
        z-index: 0 !important;
        font-size: 3vw !important;
        margin-top: 3vw !important;
    }

    div.dt-length {
        display: none !important;
    }

    .mt-2 {
        margin-top: -2vw !important;
    }

    div.dt-container div.dt-search {
        text-align: center !important;
        margin-bottom: 3vw;
    }

    div.dt-container div.dt-search input {
        padding: 2vw !important;
    }

    .dt-column-order {
        display: none !important;
    }
}

/* mobile */
@media only screen and (max-width: 480px) {
    .desktop {
        display: none !important;
    }

    *:focus {
        outline: none;
    }

    body {
        margin-bottom: 10%;
    }

    .boxFirst {
        display: flex;
        margin-top: 4vw;
        margin-bottom: 3vw;
        justify-content: center;
        font-size: 3.5vw;
        align-items: center;
        gap: 3vw;
    }

    .text-left,
    .text-right {
        background-color: #a9a9a9;
        border-radius: 3vw;
        color: #fff;
        width: 30vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw;
        font-weight: bold;
    }

    .buttonStatus {
        display: flex;
        margin: 6vw 2vw 5vw 2vw;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        gap: 3vw;
    }

    .buttonl.active {
        background-color: #ffda19;
        border-radius: 5vw;
        color: #0b6bc1;
        width: 25vw; /* ปรับตามความต้องการ */
        height: auto; /* ปรับตามความต้องการ */
        font-size: 3.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border: 0;
        padding: 1.5vw;
    }

    .buttonl:not(.active) {
        background-color: #0b6bc1;
        border-radius: 5vw;
        color: #fff;
        width: 25vw; /* ปรับตามความต้องการ */
        height: auto; /* ปรับตามความต้องการ */
        font-size: 3.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border: 0;
        padding: 1.5vw;
    }

    .table-container {
        margin: auto;
        width: 90% !important;
    }

    table {
        border-collapse: collapse;
        border-radius: 2vw;
        overflow: hidden;
        width: 100% !important;
    }

    th {
        background-color: #0b6bc1 !important; /* Green background color for headers */
        color: white !important;
        font-size: 3vw !important;
        border: 1px solid #c2c2c2 !important;
        text-align: center !important;
        width: 18vw !important;
        white-space: nowrap !important;
        padding: 0.5vw !important;
    }

    td {
        border: 1px solid #c2c2c2;
        text-align: center;
        height: 8vw;
        font-size: 3vw;
        white-space: nowrap;
    }

    td img {
        width: 6vw;
    }

    td button {
        border: 0;
    }

    td input {
        color: #616061;
        border: none;
        text-align: center;
        font-weight: 700;
        font-size: 2.5vw;
        width: 15vw;
    }

    td .approve-yes input {
        color: #95e302;
        font-weight: 600;
    }

    td .approve-yes input::placeholder {
        color: #95e302;
        font-weight: 600;
    }

    td .nameEm input {
        text-decoration: underline; /* เพิ่มเส้นใต้ */
        color: #0cbdc8; /* สีข้อความ */
        border: none; /* ลบเส้นขอบ */
        outline: none; /* ลบเส้นกรอบในกรณีที่มี */
        background-color: transparent; /* ลบพื้นหลัง */
    }

    td .nameEm input::placeholder {
        text-decoration: underline; /* เพิ่มเส้นใต้ */
        color: #0cbdc8; /* สีข้อความ */
        border: none; /* ลบเส้นขอบ */
        outline: none; /* ลบเส้นกรอบในกรณีที่มี */
        background-color: transparent; /* ลบพื้นหลัง */
    }

    table.dataTable td.dt-type-numeric{
        text-align: center !important;
    }

    .row > * {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .row {
        display: flex !important;
        /* margin-left: 5vw !important; */
        align-items: center !important;
        /* flex-direction: row !important; */
        font-size: 3.5vw;
    }
    .row input {
        width: 40vw !important;
        padding: 0vw !important;
    }

    .dataTables_length {
        display: none;
    }

    .col-sm-12 {
        width: 95vw !important;
        margin: auto;
        margin-top: -3vw !important;
    }

    ul.pagination {
        width: 75vw !important;
        margin: auto !important;
        margin-top: -2vw !important;
    }

    .col-sm-12.col-md-6 {
        width: 20vw;
        font-size: 3vw !important;
        margin-bottom: 1vw;
        margin-top: -2vw !important;
    }

    .dataTables_filter {
        display: flex !important;
        justify-content: right !important;
        font-size: 3.5vw !important;
        margin-bottom: 1vw !important;
    }

    div.dataTables_wrapper div.dataTables_filter input {
        padding: 0 !important;
    }

    table.dataTable thead > tr > th.sorting {
        cursor: pointer;
        position: relative;
        padding-right: 0 !important;
    }

    .sorting::before,
    .sorting::after {
        display: none !important  ;
    }

    #example_previous {
        width: 20vw;
    }

    .page-link {
        z-index: 0 !important;
        font-size: 3vw !important;
        margin-top: 2vw !important;
    }

    div.dt-length {
        display: none !important;
    }

    .mt-2 {
        margin-top: -2vw !important;
    }

    div.dt-container div.dt-paging ul.pagination {
        flex-wrap: nowrap !important;
        white-space: nowrap;
    }

    .dt-column-order {
        display: none !important;
    }
}
