@media only screen and (min-width: 1025px) {
    .mobile,
    footer {
        display: none;
    }

    *:focus {
        outline: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .desktop {
        display: none !important;
    }

    *:focus {
        outline: none;
    }

    .container-table-team {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
        width: 90vw;
        border: 1px solid #cecdcd;
        padding: 1vw;
        margin: auto;
        margin-top: 3vw;
        border-radius: 2vw;
    }
    .topic-table-now {
        background-color: #0b6bc1;
        padding: 1vw;
        border-radius: 5vw;
        color: #fff;
        font-weight: bold;
        font-size: 4vw;
        width: 58vw;
        font-size: 3.5vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    /* --ส่วนแสดงตารางกะของพนักงาน-- */
    .btn-select-shift {
        display: flex;
        gap: 2vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .btn-select-shift button {
        padding: 0.8vw;
        border-radius: 1.5vw;
        background-color: #c4e3ff;
        color: #0b6bc1;
        font-weight: bold;
        font-size: 2.8vw;
        border: 2px solid #0b6bc1;
        box-shadow: 0px 4px 10px 0px rgba(83, 83, 83, 0.25);
        cursor: pointer;
    }

    .btn-employee button:active,
    .btn-admin button:active {
        background-color: #0b6bc1; /* เปลี่ยนสีพื้นหลังเมื่อกด */
        color: white; /* เปลี่ยนสีของตัวอักษรเมื่อกด */
    }

    /* ปุ่ม sreach ของแอดมิน */
    .search-em {
        display: flex;
        gap: 2vw;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .search-em .search {
        display: flex;
        justify-content: center;
        gap: 2vw;
        margin: auto;
    }

    .search-em input {
        padding: 1vw;
        border-radius: 2vw;
        width: 30vw;
        text-align: center;
        border: 1px solid #a2a1a2;
        color: #616061;
        font-size: 3vw;
        background-color: #eeeeee;
    }

    .search-em img {
        width: 6vw;
        height: 6vw;
    }

    .display-cost-center {
        font-weight: bold;
        color: #616061;
        font-size: 3vw;
        margin-top: 2vw;
    }

    /* --ส่วนของtable กะการทำงาน-- */
    .table-shift {
        border: 1px solid #0b6bc1;
        padding: 2vw;
        border-radius: 2vw;
        margin-top: 3vw;
        width: 85vw;
        margin: auto;
    }

    .topic-table {
        background-color: #0b6bc1;
        padding: 1vw;
        border-radius: 5vw;
        color: #fff;
        font-weight: bold;
        font-size: 4vw;
        width: 45vw;
        font-size: 3.5vw;
        margin-top: 2vw;
    }

    .display-table {
        /* overflow: auto; */
        white-space: nowrap;
        box-shadow: 0 0 0 1px #0b6bc1, 0 0 0 1px #dfdede;
        border-radius: 2vw;
        margin-top: 2vw;
        display: flex;
    }

    .display-table-admin,
    .display-table-employee {
        /* overflow: auto; */
        white-space: nowrap;
        box-shadow: 0 0 0 1px #0b6bc1, 0 0 0 1px #dfdede;
        border-radius: 2vw;
        margin-top: 2vw;
        display: flex;
        font-weight: bold;
    }

    .display-table table,
    .display-table-admin table,
    .display-table-employee table {
        border-collapse: collapse;
        overflow: hidden;
    }

    .display-table .display-table-left table,
    .display-table-admin .display-table-left table,
    .display-table-employee .display-table-left table {
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
    }

    .display-table-left table {
        width: 40vw;
    }

    .display-table .display-table-right,
    .display-table-admin .display-table-right,
    .display-table-employee .display-table-right {
        overflow: scroll;
        border-top-right-radius: 2vw;
        border-bottom-right-radius: 2vw;

        /* Firefox */
        scrollbar-width: none;

        /* Webkit (Chrome, Safari) and Blink (Opera) */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    th {
        width: 5.5vw;
        font-size: 3vw;
        background-color: #0b6bc1;
        color: #fff !important;
        padding: 0.1vw;
        height: 5vw;
    }

    td {
        color: #0b6bc1;
        border: 1px solid #0b6bc1 !important    ;
        font-size: 2.5vw;
        font-weight: bold;
        padding: 1vw !important;
        width: 10vw !important;
    }

    .display-monthNow {
        display: flex;
        justify-content: center;
        margin-top: 1vw;
        gap: 3vw;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
    }

    .current {
        color: #f8f9f9;
        background-color: #0b6bc1;
        padding: 1vw;
        border-radius: 2vw;
        width: 30vw;
        font-size: 3.5vw;
    }

    .display-monthNow button {
        padding: 1vw;
        background-color: #0b6bc1;
        border-radius: 2vw;
        border: 0;
        cursor: pointer;
    }

    .display-monthNow img {
        width: 3vw;
    }

    td.date {
        padding-left: 2.5vw !important;
        padding-right: 2.5vw !important;
    }

    td.display-name {
        text-align: left;
    }

    td.nameEm {
        width: 15vw;
    }

    td.nameTeam {
        width: 15vw;
    }

    td.nameTeam,
    td.idEm,
    td.nameEm,
    td.date {
        background-color: #c4e3ff;
        color: #0b6bc1;
    }

    .shiftMain {
        background-color: #738dbe;
        color: #fff !important;
        padding: 0 !important;
    }

    .shiftMain span {
        margin-left: 1.2vw;
        color: #fff;
    }

    td.dayOff {
        background-color: #d690a6;
        color: #fff;
    }

    td.training {
        background-color: #b39ddb;
        color: #fff;
    }

    td.dayOff-compen {
        background-color: #64a38f;
        color: #fff;
    }

    td.leaveSick {
        background-color: #a3a3a3;
        color: #fff;
    }

    td.dayOff-public {
        background-color: #6d6d6d;
        color: #fff;
    }

    td.leave-annual {
        background-color: #d0be83;
        color: #fff;
    }

    td.lock {
        background-color: #b38c6c;
        color: #fff;
    }

    span.shiftAdd {
        background-color: #4970cd;
        padding: 1.48vw;
        padding-right: 1vw;
        text-align: right;
    }

    /* --ส่วนของแสดงรายละเอียดสี-- */
    .detail-color {
        margin-top: 3vw;
        color: #0b6bc1;
        font-weight: bold;
        font-size: 2.3vw;
        display: flex;
        text-align: left;
        gap: 10vw;
    }

    .detail-color img,
    .day-off-compen img,
    .leaveAnnule img,
    .shift-Add img,
    .dayoff-plublic img,
    .leave-sick img,
    .Training img,
    .Lock img {
        width: 2.5vw;
    }

    /* ปุ่มแก้ไขตารางการทำงาน */
    .edit-dataSet {
        display: flex;
        justify-content: center;
        margin-right: 2vw;
        margin-top: 1vw;
        margin-top: 2vw;
        font-size: 12px;
        gap: 5vw;
    }

    .edit-dataSet button {
        display: flex;
        background-color: #e69232;
        border-radius: 2vw;
        border: 2px solid #a06725;
        color: #fff;
        font-weight: bold;
        box-shadow: 0px 4px 10px 0px rgba(70, 69, 69, 0.25);
        padding: 0.5vw;
        font-size: 3vw;
    }

    .edit-dataSet img {
        width: 4vw;
    }

    /* --ส่วนของการแก้ไขรูปแบบการทำงาน-- */

    .display-editWork-step2 {
        display: none;
        width: 80vw;
        margin: auto;
        border: 1px solid #8db2d3;
        border-radius: 3vw;
        margin-top: 2vw;
        font-size: 3.5vw;
        color: #0b6bc1;
        font-weight: bold;
        padding: 2vw;
    }

    .display-date-start,
    .display-date-end,
    .display-old,
    .display-new,
    .display-day-old,
    .display-day-new,
    .display-shift,
    .display-detail-change,
    .select-nameEm,
    .select-inspector,
    .display-head {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 2vw;
    }

    input {
        width: 71.5vw;
        background-color: #c4e3ff;
        padding: 1vw;
        border: 0;
        color: #0b6bc1;
        border-radius: 1vw;
        font-size: 3.5vw;
        font-weight: bold;
        box-shadow: 0px 4px 8px 0px rgba(136, 135, 135, 0.25);
        margin-top: 1vw;
    }

    select {
        background-color: #c4e3ff;
        padding: 1vw;
        border: 0;
        color: #0b6bc1;
        border-radius: 1vw;
        font-size: 3.5vw;
        box-shadow: 0px 4px 8px 0px rgba(136, 135, 135, 0.25);
        margin-top: 1vw;
        font-weight: bold;
        height: 7.7vw;
    }

    select.dayoff,
    select.newFormat {
        width: 32.5vw;
        font-size: 3.5vw;
        margin-top: 1vw;
        height: 7.7vw;
    }

    span.detailSpan {
        background-color: #c4e3ff;
        border-radius: 1vw;
        padding: 1.2vw;
        font-size: 3.5vw;
        width: 35vw;
        box-shadow: 0px 4px 8px 0px rgba(136, 135, 135, 0.25);
        margin-top: 1vw;
    }

    .display-head .head {
        background-color: #c4e3ff;
        border-radius: 1vw;
        padding: 1.2vw;
        font-size: 3.5vw;
        width: 72vw;
        box-shadow: 0px 4px 8px 0px rgba(136, 135, 135, 0.25);
        margin-top: 1vw;
    }

    .display-format {
        display: flex;
        justify-content: left;
    }

    .display-dayOff {
        display: flex;
        justify-content: left;
    }

    .col-6 {
        display: flex;
        justify-content: center;
        margin-top: 0.5vw;
        margin: auto;
    }

    .col-6 input {
        background-color: #29ab29;
        font-size: 3.5vw;
        width: 15vw;
        border: 0;
        padding: 1vw;
        border-radius: 2vw;
        font-weight: bold;
        color: #1867ad;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 5px solid #f7f9fb !important;
    }

    /* แต่ง swal */

    /* --ปรับขนาดปุ่มยืนยันและยกเลิก-- */
    .swal2-confirm.swal2-styled.swal2-default-outline,
    .swal2-cancel.swal2-styled.swal2-default-outline {
        width: 15vw !important;
        padding: 2vw;
        font-size: 3.5vw;
    }

    /* --ปรับขนาดของกล่อง-- */
    .swal2-popup.swal2-modal.swal2-show {
        width: 80vw !important;
        height: 70;
        border-radius: 5vw !important;
    }

    .swal2-popup.swal2-modal.custom-popup-class.swal2-show {
        width: auto !important;
        height: 110vw;
        border-radius: 5vw !important;
        margin-top: 3vw !important;
    }

    .swal2-popup.swal2-modal.custom-popup-class.swal2-show ::-webkit-scrollbar {
        display: none;
    }

    .swal2-actions {
        margin-top: 1vw;
    }

    .custom-popup-class input {
        display: flex;
        text-align: center;
    }

    .img {
        width: 15vw !important;
        height: 15vw !important;
        margin-top: 1vw;
    }

    /* --ปรับขนาดปุ่มยืนยันและยกเลิก-- */
    .swal2-confirm.swal2-styled.swal2-default-outline,
    .swal2-cancel.swal2-styled.swal2-default-outline {
        width: 15vw !important;
        padding: 2vw;
        font-size: 3.5vw;
    }

    /* --ปรับขนาดของกล่อง-- */
    div:where(.swal2-container).swal2-center > .swal2-popup {
        width: 85vw !important;
        height: 50vw;
        border-radius: 2vw !important;
    }
}

@media only screen and (max-width: 480px) {
    .desktop {
        display: none !important;
    }

    *:focus {
        outline: none;
    }

    .container-table-team {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
        width: 90vw;
        border: 1px solid #cecdcd;
        padding: 3vw;
        margin: auto;
        margin-top: 3vw;
        border-radius: 2vw;
    }
    .topic-table-now {
        background-color: #0b6bc1;
        padding: 1vw;
        border-radius: 5vw;
        color: #fff;
        font-weight: bold;
        font-size: 4vw;
        width: 58vw;
        font-size: 3.5vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    /* --ส่วนแสดงตารางกะของพนักงาน-- */
    .btn-select-shift {
        display: flex;
        gap: 2vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .btn-select-shift button {
        padding: 0.8vw;
        border-radius: 1.5vw;
        background-color: #c4e3ff;
        color: #0b6bc1;
        font-weight: bold;
        font-size: 2.8vw;
        border: 2px solid #0b6bc1;
        box-shadow: 0px 4px 10px 0px rgba(83, 83, 83, 0.25);
        cursor: pointer;
    }

    .btn-employee button:active,
    .btn-admin button:active {
        background-color: #0b6bc1; /* เปลี่ยนสีพื้นหลังเมื่อกด */
        color: white; /* เปลี่ยนสีของตัวอักษรเมื่อกด */
    }

    /* ปุ่ม sreach ของแอดมิน */
    .search-em {
        display: flex;
        gap: 2vw;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .search-em .search {
        display: flex;
        justify-content: center;
        gap: 2vw;
        margin: auto;
    }

    .search-em input {
        padding: 1vw;
        border-radius: 2vw;
        width: 30vw;
        text-align: center;
        border: 1px solid #a2a1a2;
        color: #616061;
        font-size: 3vw;
        background-color: #eeeeee;
    }

    .search-em img {
        width: 6vw;
        height: 6vw;
    }

    .display-cost-center {
        font-weight: bold;
        color: #616061;
        font-size: 3vw;
        margin-top: 2vw;
    }

    /* --ส่วนของtable กะการทำงาน-- */
    .table-shift {
        border: 1px solid #0b6bc1;
        padding: 2vw;
        border-radius: 2vw;
        margin-top: 3vw;
        width: 85vw;
        margin: auto;
    }

    .topic-table {
        background-color: #0b6bc1;
        padding: 1vw;
        border-radius: 5vw;
        color: #fff;
        font-weight: bold;
        font-size: 4vw;
        width: 45vw;
        font-size: 3.5vw;
        margin-top: 2vw;
    }

    .display-table {
        /* overflow: auto; */
        white-space: nowrap;
        box-shadow: 0 0 0 1px #0b6bc1, 0 0 0 1px #dfdede;
        border-radius: 2vw;
        margin-top: 2vw;
        display: flex;
    }

    .display-table-admin,
    .display-table-employee {
        /* overflow: auto; */
        white-space: nowrap;
        box-shadow: 0 0 0 1px #0b6bc1, 0 0 0 1px #dfdede;
        border-radius: 2vw;
        margin-top: 2vw;
        display: flex;
        font-weight: bold;
    }

    .display-table table,
    .display-table-admin table,
    .display-table-employee table {
        border-collapse: collapse;
        overflow: hidden;
    }

    .display-table .display-table-left table,
    .display-table-admin .display-table-left table,
    .display-table-employee .display-table-left table {
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
    }

    .display-table-left table {
        width: 40vw;
    }

    .display-table .display-table-right,
    .display-table-admin .display-table-right,
    .display-table-employee .display-table-right {
        overflow: scroll;
        border-top-right-radius: 2vw;
        border-bottom-right-radius: 2vw;

        /* Firefox */
        scrollbar-width: none;

        /* Webkit (Chrome, Safari) and Blink (Opera) */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    th {
        width: 5.5vw;
        font-size: 3vw;
        background-color: #0b6bc1;
        color: #fff !important;
        padding: 0.1vw;
        height: 5vw;
    }

    td {
        color: #0b6bc1;
        border: 1px solid #0b6bc1 !important    ;
        font-size: 2.5vw;
        font-weight: bold;
        padding: 1vw !important;
        width: 10vw !important;
    }

    .display-monthNow {
        display: flex;
        justify-content: center;
        margin-top: 1vw;
        gap: 3vw;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
    }

    .current {
        color: #f8f9f9;
        background-color: #0b6bc1;
        padding: 1vw;
        border-radius: 2vw;
        width: 30vw;
    }

    .display-monthNow button {
        padding: 1vw;
        background-color: #0b6bc1;
        border-radius: 2vw;
        border: 0;
        cursor: pointer;
    }

    .display-monthNow img {
        width: 3vw;
    }

    td.date {
        padding-left: 2.5vw !important;
        padding-right: 2.5vw !important;
    }

    td.display-name {
        text-align: left;
    }

    td.nameEm {
        width: 15vw;
    }

    td.nameTeam {
        width: 15vw;
    }

    td.nameTeam,
    td.idEm,
    td.nameEm,
    td.date {
        background-color: #c4e3ff;
        color: #0b6bc1;
    }

    .shiftMain {
        background-color: #738dbe;
        color: #fff !important;
        padding: 0 !important;
    }

    .shiftMain span {
        margin-left: 1.2vw;
        color: #fff;
    }

    td.dayOff {
        background-color: #d690a6;
        color: #fff;
    }

    td.training {
        background-color: #b39ddb;
        color: #fff;
    }

    td.dayOff-compen {
        background-color: #64a38f;
        color: #fff;
    }

    td.leaveSick {
        background-color: #a3a3a3;
        color: #fff;
    }

    td.dayOff-public {
        background-color: #6d6d6d;
        color: #fff;
    }

    td.leave-annual {
        background-color: #d0be83;
        color: #fff;
    }

    td.lock {
        background-color: #b38c6c;
        color: #fff;
    }

    span.shiftAdd {
        background-color: #4970cd;
        padding: 1.48vw;
        padding-right: 1vw;
        text-align: right;
    }

    /* --ส่วนของแสดงรายละเอียดสี-- */
    .detail-color {
        margin-top: 3vw;
        color: #0b6bc1;
        font-weight: bold;
        font-size: 2.3vw;
        display: flex;
        text-align: left;
        gap: 10vw;
    }

    .detail-color img,
    .day-off-compen img,
    .leaveAnnule img,
    .shift-Add img,
    .dayoff-plublic img,
    .leave-sick img,
    .Training img,
    .Lock img {
        width: 2.5vw;
    }

    /* ปุ่มแก้ไขตารางการทำงาน */
    .edit-dataSet {
        display: flex;
        justify-content: center;
        margin-right: 2vw;
        margin-top: 1vw;
        margin-top: 2vw;
        font-size: 12px;
        gap: 5vw;
    }

    .edit-dataSet button {
        display: flex;
        background-color: #e69232;
        border-radius: 2vw;
        border: 2px solid #a06725;
        color: #fff;
        font-weight: bold;
        box-shadow: 0px 4px 10px 0px rgba(70, 69, 69, 0.25);
        padding: 0.5vw;
    }

    .edit-dataSet img {
        width: 4vw;
    }

    /* --ส่วนของการแก้ไขรูปแบบการทำงาน-- */

    .display-editWork-step2 {
        display: none;
        width: 80vw;
        margin: auto;
        border: 1px solid #8db2d3;
        border-radius: 3vw;
        margin-top: 2vw;
        font-size: 3.5vw;
        color: #0b6bc1;
        font-weight: bold;
        padding: 2vw;
    }

    .display-date-start,
    .display-date-end,
    .display-old,
    .display-new,
    .display-day-old,
    .display-day-new,
    .display-shift,
    .display-detail-change,
    .select-nameEm,
    .select-inspector,
    .display-head {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 2vw;
        font-size: 3.3vw;
    }

    input {
        width: 71.5vw;
        background-color: #c4e3ff;
        padding: 2vw;
        border: 0;
        color: #0b6bc1;
        border-radius: 1vw;
        font-size: 3.5vw;
        font-weight: bold;
        box-shadow: 0px 4px 8px 0px rgba(136, 135, 135, 0.25);
        margin-top: 1vw;
    }

    select {
        background-color: #c4e3ff;
        padding: 2.3vw;
        border: 0;
        color: #0b6bc1;
        border-radius: 1vw;
        font-size: 3.5vw;
        box-shadow: 0px 4px 8px 0px rgba(136, 135, 135, 0.25);
        margin-top: 1vw;
        font-weight: bold;
    }

    select.dayoff,
    select.newFormat {
        width: 32.5vw;
        font-size: 3.5vw;
        margin-top: 1vw;
    }

    span.detailSpan {
        background-color: #c4e3ff;
        border-radius: 1vw;
        padding: 2.2vw;
        font-size: 3.5vw;
        width: 35vw;
        box-shadow: 0px 4px 8px 0px rgba(136, 135, 135, 0.25);
        margin-top: 1vw;
    }

    .display-head .head {
        background-color: #c4e3ff;
        border-radius: 1vw;
        padding: 2.2vw;
        font-size: 3.5vw;
        width: 72vw;
        box-shadow: 0px 4px 8px 0px rgba(136, 135, 135, 0.25);
        margin-top: 1vw;
    }

    .display-format {
        display: flex;
        justify-content: left;
    }

    .display-dayOff {
        display: flex;
        justify-content: left;
    }

    .col-6 {
        display: flex;
        justify-content: center;
        margin-top: 0.5vw;
        margin: auto;
    }

    .col-6 input {
        background-color: #29ab29;
        font-size: 3.5vw;
        width: 15vw;
        border: 0;
        padding: 1vw;
        border-radius: 2vw;
        font-weight: bold;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 3px solid #f7f9fb !important;
    }

    /* --ปรับขนาดปุ่มยืนยันและยกเลิก-- */
    .swal2-confirm.swal2-styled.swal2-default-outline,
    .swal2-cancel.swal2-styled.swal2-default-outline {
        width: 15vw !important;
        padding: 2vw;
        font-size: 3.5vw;
    }

    /* --ปรับขนาดของกล่อง-- */
    .swal2-popup.swal2-modal.swal2-show {
        width: 80vw !important;
        height: 70;
        border-radius: 5vw !important;
    }

    .swal2-popup.swal2-modal.custom-popup-class.swal2-show {
        width: auto !important;
        height: 110vw;
        border-radius: 5vw !important;
        margin-top: 3vw !important;
    }

    .swal2-popup.swal2-modal.custom-popup-class.swal2-show ::-webkit-scrollbar {
        display: none;
    }

    .swal2-actions {
        margin-top: 1vw;
    }

    .custom-popup-class input {
        display: flex;
        text-align: center;
    }

    .img {
        width: 15vw !important;
        height: 15vw !important;
        margin-top: -4vw;
    }
}
