@media only screen and (min-width: 1025px) {
    .bar {
        /*แถบเมนูสีขาว*/
        position: relative;
        background-color: #ffff;
        box-shadow: 10px 10px 10px #5350501a;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 50px;
        border-radius: 5px;
        margin-top: 10px;
        gap: 10px;
    }

    .button-switch-table {
        position: absolute;
        left: 0;
        display: flex;
    }

    .button-switch-table > button {
        cursor: pointer;
        color: #fff;
        font-weight: 600;
        background-image: linear-gradient(#1fbabf, #60d3aa);
        transition: 0.3s ease-in-out;
        box-shadow: 0px 2px 15px -8px #000000;
        border-radius: 5px;
        padding: 5px 5px;
    }

    .current {
        color: #f8f9f9;
        background-color: #0b6bc1;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 0;
        width: 200px;
    }

    .bar button {
        padding: 7px 5px;
        background-color: #0b6bc1;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bar img {
        width: 20px;
    }

    .desktop-table-container {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 570px;
    }

    .desktop-table {
        display: flex;
        height: 570px;
        overflow: auto;
    }

    .desktop-table.left {
        width: 50%;
        scrollbar-width: none;
    }

    .desktop-table.right {
        width: 50%;
    }

    .desktop-table.right::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    .desktop-table.left table {
        width: 100%;
    }

    .desktop-table.right table {
        width: 100%;
        table-layout: fixed;
        margin-bottom: 0.4rem;
    }

    .desktop-table.left thead > tr:first-child th:first-child {
        width: 40%;
    }

    .desktop-table.left tbody > tr > td:nth-child(2) {
        text-align: left !important;
    }

    .desktop-table.left tbody > tr > td > div {
        display: flex;
        flex-direction: row;
        margin: 0 !important;
        white-space: nowrap;
    }

    .desktop-table.left tbody > tr:first-child > td:first-child {
        text-align: center;
        width: 15%;
    }

    .desktop-table.left tbody > tr:nth-child(n + 2) > td:first-child {
        width: 5%;
    }

    .desktop-table th {
        color: #f9fafa !important;
        font-weight: bold;
        text-align: center !important;
        background-color: #1fbabf !important;
        border: 0.95px solid #dddddd !important;
        white-space: nowrap;
        vertical-align: middle !important;
    }

    .desktop-table td {
        border: 0.95px solid #dddddd !important;
        color: #616061 !important;
        text-align: center !important;
        height: 80px !important;
    }

    .desktop-table.right th {
        width: 70px;
    }

    .desktop-table.right th,
    .desktop-table.right td {
        padding: 0.75rem 0 !important;
    }

    /*รายละเอียดสีต่าง  ๆ*/
    .color-detail {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 50%;
    }

    .color-detail > div {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .color-detail > div > div {
        width: 20%;
        white-space: nowrap;
    }

    #status1 button,
    #status2 button,
    #status3 button {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 2px;
        margin-right: 10px;
    }

    #status1 span,
    #status2 span,
    #status3 span {
        color: #555555;
    }
}
