div.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  div.section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;    
    padding: 10px;
    margin-top: 20px;
    gap: 20px;
  }

  span.section {
    /* margin-left: 15vw; */
    font-size: 2vw;
    font-weight: bold;
  }

  .search_allapprove{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding-top: 5vw;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .input1{
    /* margin-left: 14vw; */
    border-radius: 5px;
    width: 15vw;
    height: 4vh;
    border: 0.1vb solid black;
    background-color: white;
    box-shadow: 0 2px 3px 1px rgb(204, 204, 204);
    transition: width 0.3s, height 0.3s, padding 0.3s;
    padding: 0.5vw;
  }

.btn-search{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  background: none;
  border-radius: 100%;
  /* margin-left: 1vw; */

}
.img-search{
  margin-left: 0.1vw;
  width: 1.5vw;
  height: 1.5vw;
}
  div.btn-approve{
    padding-bottom: 20px;
}

.form_insert{
  width: 100%;
}

.btn-doassessment {
  background-color: #289c6c;
  color: #fff;
  border: 1px solid #289c6c;
  border-radius: 5px;
  font-size: 25px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  font-weight: bold;
}

div.btn-approve{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-right: 5%;
  
}
  .accept-btn {
    display: inline-block;
    border-radius: 20%;
    width: 30px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    background-color: #1dda23; /* สีเขียว */
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  }
  .dissent-btn{
    display: inline-block;
    border-radius: 20%;
    width: 30px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    background-color: #d91f1f; /* สีเขียว */
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  }
  .checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    visibility: visible;
  }

  table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    border: 1px solid #00638e;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  th, td {
    text-align: center;
    padding: 10px;
    font-size: 22px;
  }
  
  th {    
    color: white;
    background-color: #71c5e9;
    border: 1px solid #ffffff;
  }
  
  td {
    border: 1px solid #00638e;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }

  .swal2-confirm {
    font: 30px , #fff;
    background-color: #0ece3b !important; /* สีพื้นหลังปุ่ม */
    border-color: #0ece3b !important; /* สีเส้นขอบปุ่ม */
}
.swal2-confirm:hover {
    background-color: #218838 !important; /* สีพื้นหลังเมื่อ hover ที่ปุ่ม */
    border-color: #218838 !important; /* สีเส้นขอบเมื่อ hover ที่ปุ่ม */
}
  .swal2-cancel {
    font: 30px , #fff;
    background-color: #ce0e0e !important; /* สีพื้นหลังปุ่ม */
    border-color: #ce0e0e !important; /* สีเส้นขอบปุ่ม */
}
.swal2-cancel:hover {
    background-color: #882121 !important; /* สีพื้นหลังเมื่อ hover ที่ปุ่ม */
    border-color: #882121 !important; /* สีเส้นขอบเมื่อ hover ที่ปุ่ม */
}



/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/

  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    
    /* div.main {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    } */
    
    div.section{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      gap: 20px;
      margin-top: 20px;
    }
    
    span.section {
      font-size: 3vw;
      font-weight: bold;
      color: #616061;
    }

    .search_allapprove{
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 10vh;
      width: 100%;
      padding-top: 2vw;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .input1{
      /* margin-left: 6vw; */
      border-radius: 5px;
      width: 18vw;
      height: 2.5vh;
      border: 0.1vb solid #d4d4d4;
      background-color: white;
      box-shadow: 0 2px 3px 1px rgb(204, 204, 204);
      transition: width 0.3s, height 0.3s, padding 0.3s;
      padding: 0.5vw;
  
    }

    .btn-search{
      width: 4vw;
      height: 4vw;
      background: none;
      border-radius: 100%;
      border: 0.1vb solid #d4d4d4;
    
    }
    .img-search{
      width: 3vw;
      height: 3vw;
    }

    .form_insert{
      width: 100%;
    }

    .btn-doassessment {
      background-color: #289c6c;
      color: #fff;
      border: 1px solid #289c6c;
      border-radius: 5px;
      font-size: 25px;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      padding: 10px 15px;
      font-weight: bold;
    }

    div.btn-approve{
      display: flex;
      justify-content: flex-end;
      padding-bottom: 20px;
      margin-right: 5%;
      
  }
  .checkbox{
    width: 2vw;
    height: 2vw;
  }
    .accept-btn {
        display: inline-block;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        line-height: 40px;
        text-align: center;
        background-color: #289c6c;; /* สีเขียว */
        color: white;
        border: none;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        padding-right: 5px;
      }

      .edit-btn {
        display: inline-block;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        line-height: 40px;
        text-align: center;
        background-color: #dfa006;
        color: white;
        border: none;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    
      .dissent-btn{
        display: inline-block;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        line-height: 40px;
        text-align: center;
        background-color: #d91f1f; 
        color: white;
        border: none;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

      }
      
      .checkmark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
        visibility: visible;
      }

      table {
        margin: auto;
        border-collapse: collapse;
        width: 90%;
        border: 1px solid #00638e;
        color: #616061;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
      }
      
      th, td {
        text-align: center;
        padding: 10px;
        font-size: 22px;
      }
      
      th {    
        color: white;
        background-color: #71c5e9;
        border: 1px solid #ffffff;
      }
      
      td {
        border: 1px solid #00638e;
      }
      
      tr:hover {
        background-color: #f2f2f2;
      }

      .swal2-confirm {
        font: 30px , #fff;
        background-color: #0ece3b !important; /* สีพื้นหลังปุ่ม */
        border-color: #0ece3b !important; /* สีเส้นขอบปุ่ม */
    }
    
    .swal2-confirm:hover {
        background-color: #218838 !important; /* สีพื้นหลังเมื่อ hover ที่ปุ่ม */
        border-color: #218838 !important; /* สีเส้นขอบเมื่อ hover ที่ปุ่ม */
    }
    
      .swal2-cancel {
        font: 30px , #fff;
        background-color: #ce0e0e !important; /* สีพื้นหลังปุ่ม */
        border-color: #ce0e0e !important; /* สีเส้นขอบปุ่ม */
    }
    
    .swal2-cancel:hover {
        background-color: #882121 !important; /* สีพื้นหลังเมื่อ hover ที่ปุ่ม */
        border-color: #882121 !important; /* สีเส้นขอบเมื่อ hover ที่ปุ่ม */
    }
    
  }
