div.section {
  display: flex;
  padding-top: 20px;
  padding-bottom: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;


}

.section {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

tbody {
  color: #616061;
}

form {
  color: #616061;
}

th,
td {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 480px){
  th,
td {
  text-align: center;
  padding: 10px;
  font-size: 10px;
}
}

th.t-small,
td.t-small {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 480px){
  th.t-small,
  td.t-small {
    text-align: center;
    padding: 10px;
    font-size: 15px;
  }
}

@media (max-width: 480px){
  .datatable{
    width: 100%;
    overflow-x: auto;
  }
}


th {
  color: white;
  background-color: #71c5e9;
  border: 1px solid #00638e;
}

td {
  border: 1px solid #00638e;
}

tr:hover {
  background-color: #f2f2f2;
}

.radio {
  height: 30px;
  width: 30px;
}

@media (max-width: 480px){
  .radio {
    height: 4vw;
    width: 4vw;
  }
}

.btn-submit {
  margin-left: auto;
  margin-right: 5%;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.btn-doassessment {
  /* สีพื้นหลัง */
  background-color: #60D3AA;
  /* สีตัวอักษร */
  color: #fff;
  /* ขอบ */
  border: 2px solid #e4f0e9;
  /* ขอบเส้นโค้ง */
  border-radius: 15px;
  /* ขนาดตัวอักษร */
  font-size: 20px;
  /* ขนาดของปุ่ม */
  padding: 15px 20px;
  /* การแสดงผลเมื่อ hover */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 1px 1px 2px rgba(31, 214, 123, 0.5);
  border: none;
}

.btn-doassessment:hover {
  /* สีพื้นหลังเมื่อโฮเวอร์ */
  background-color: #32ce8d;
  /* สีตัวอักษรเมื่อโฮเวอร์ */
  color: #fff;
  border: none;
}