.navbar{    /* แถบบนสุด*/
    display: flex;
    box-shadow: 0 0 5px 2px #76747480; /*กำหนดเงาใต้กล่องของแถบบนสุด*/   
    align-items: center;
    height: 55px;
    background-color: #1a6ec1; 

}

#backIcon{   /* รุปปุ่มย้อนกลับ*/
    width: 100%;
    max-width: 30px;
    height: auto;
  
}

.navbar span{         /*ข้อความในแถบ navbar*/ 
    font-size: 4.5vmin;
    font-weight: bolder;
    margin: auto;
    color: #ffffff;
}

.content{   /*กล่องเนื้อหา*/
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    width: 90%;
    height: 250px;
    border: 1px solid #c9ccd0;
    box-shadow: 0 4px 5px 0px #76747480;
    border-radius: 20px;
    font-size: 15px;
    color: #555555;
}

.content span{  /*head ข้อความ*/
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.info{  /*เนื้อหา*/
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 10px;
    
}

.info span{  /*ปรับขนาดฟ้อนต์เนื้อหา*/
    font-weight: lighter;
    margin-bottom: -15px;
}