body{
    color: #616061;
    /* font-size: 2vmin; */
}

.title{
    display: flex;
    flex-direction: column;
}

#head{
    font-size: 25px;
    font-weight: bold;
    color: #616061;
}

#recommend{
    font-size: 16px;
}

.mainclass{
    padding: 10px;
}

.addData{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.addData span{
    font-size: 2.5vmin;
    font-weight: bold;
    color: #5cacc8;
}

.box{
    display: flex;
    /* justify-content: center; */
    /* gap: 5%; */
    margin-top: 20px;
    justify-content: space-between;
}

.box label{
    font-size: 2.3vmin;
    font-weight: bold;
}

.box input{
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 5px;
    width: 13vw;
    height: 5vh;
    font-size: 2vmin;
}

.start,.end,.name{
    display: flex;
    align-items: center;
    gap: 10px;
    /* flex-direction: column; */
}

.addData a{
    background-color: #5cacc8;
    padding: 8px 15px;
    color: rgb(255, 255, 255);
    font-size: 2.3vmin;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid #c6e5f0;
}

.addData a:hover {
    background-color: #489AE0;
    border: 3px solid #c6e5f0;
}

.datatable{
    margin-bottom: 10vh;
    margin-top: 30px;
}

table{
    width: 100%;
    margin-top: 15px;
    text-align: center;
    color: #555555;
}

thead{ 
    background-color: #5cacc8;
    color: white;
    font-size: 2.3vmin;
}

tbody{
    font-size: 2vmin;
}

th,td{
    padding: 8px;
    border: 1px solid #dddddd;
}

.datatable td:nth-child(3) {
    text-align: left;
}

#green{
    background-color: #289c6c;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: none;
    pointer-events: none;
    display: block;
    margin: 0 auto;
}

#yellow{
    background-color: #dfa006;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: none;
    pointer-events: none;
    display: block;
    margin: 0 auto;
}

.edit{
    width: 100%;
    background-color: #dfa006;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 2px 3px 1px rgb(204, 204, 204);
    margin-right: 5px;
}

.detail{
    width: 100%;
    background-color: #289c6c;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 2px 3px 1px rgb(204, 204, 204);
}

.delete{
    width: 100%;
    background-color: #FF1E1E;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 2px 3px 1px rgb(204, 204, 204);
}

a.edit:hover,a.detail:hover,a.delete:hover {
    color: #ffffff;
}
