
.footercon{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    padding: 0  20%;
    font-size: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 5px 5px 20px 5px #d4d1d1;
}
.footercon i{
    background-color: transparent;
    padding: 10px;
}
.bxs-user{
    color: #4eabd0;
}

.bxs-home{
    color: #D3EFFB
}
.bxs-bell-ring{
    color: #D3EFFB;
}

@media screen and (min-width:600px){
    i{
        font-size: 5vmin;
    }
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*Desktop*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1025px){
    footer{
        display: none;
    }
}